cv_bridge==1.13.0.post0
inputs==0.5
machinevision_toolbox_python==0.5.5
matplotlib==3.3.4
numpy==1.19.5
opencv_python==4.5.1.48
pigpio==1.78
pyserial==3.5
rpi_ws281x==5.0.0
scipy==1.5.4
sensor_msgs==1.12.8
smbus2==0.4.0
spatialmath_python==1.0.5
